.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  line-height: 1.2;
}

.subtitle {
  opacity: 0.6;
  padding: 1rem 2rem;
  text-align: center;
}

.bandwidthForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
}

.input {
  padding: 0 2rem;
  min-width: 350px;
}

.button {
  min-width: 285px !important;
}

.estimate {
  padding: 2rem;
  text-align: center;
}